@{
    ViewBag.Title = "Home Page";
}



<br /><br /><br />
            <form action="/Home/Index" method="post">

                <div>
                    <div>
                        <span>
                            Type of Log
                        </span>
                        <select id="TypeOfLog" name="TypeOfLog">
                            <option value="USBs" title="USBs" label="USBs"></option>

                            <option value="LABELs" title="LABELs" label="LABELs"></option>
                        </select>

                    </div>



                    <div>
                        <span>
                            Issued To

                        </span>
                        <input type="text" id="IssuedTo" name="IssuedTo" />


                    </div>


                    <div>
                        <span>
                            Issued By

                        </span>
                        <input type="text" id="IssuedBy" name="IssuedBy" />


                    </div>

                    <div>
                        <span>
                            Quantity

                        </span>
                        <input type="text" id="Quantity" name="Quantity" />


                    </div>

                    <div>
                        <span>
                            Issued To

                        </span>
                        <input type="text" id="IssuedTo" name="IssuedTo" />


                    </div>

                    @ViewBag.Message
                    <button id="BTN" type="submit" value="save">SAVE</button>
                </div>
            </form>